body {
    background-image: url("Ghana.jpg"); 
    background-color: #7d83a8; 
    height: 500px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
.paragraph{
    max-width: 450px;
    border-radius: 400px;
    margin: auto;
    font-size:large;
    font-style:italic;


}
.calender{
    max-width: 350px;
    border-radius: 400px;
    margin: auto;
}
.male{
    max-width: 350px;
    border-radius: 400px;
    margin: auto;

}
.female{
    max-width: 350px;
    border-radius: 400px;
    margin: auto;
}
.button{
    max-width: 450px;
    border-radius: 400px;
    margin: auto;

}

